@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

/*______________ Layout ______________*/
.main-layout {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

/*______________ Header ______________*/
.nav-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  padding: 0 10%;
  box-shadow: 0 4px 18px rgba(70, 70, 70, 0.3);

  & .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;

    & h1 {
      font-size: 1.4rem;
    }

    & img {
      padding-right: 10px;
    }
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;

    & li {
      margin-left: 1rem;

      & a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--color-primary-400);
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        transition: all 0.2s ease-in;

        &:hover,
        &:active,
        &.active {
          color: var(--color-primary-700);
          border-bottom: 1px solid #fbc14d59;
        }
      }
    }
  }
}

/*______________ Meetup Item ______________*/
.meetup-item {
  margin: 1rem 0;

  & .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  & .content {
    text-align: center;
    padding: 1rem;

    & h3 {
      font-size: 1.35rem;
      color: var(--color-gray-100);
    }

    & address {
      color: var(--color-gray-400);
    }
  }

  .actions {
    padding: 1.5rem;
    text-align: center;

    & button {
      font: inherit;
      cursor: pointer;
      color: var(--color-primary-200);
      border: 1px solid #999692;
      background-color: var(--color-gray-700);
      padding: 0.5rem 1.5rem;
      border-radius: 3px 10px;
      transition: all 0.2s ease-in;
      box-shadow: 0 4px 4px rgba(70, 70, 70, 0.7);

      &:hover,
      &:active {
        color: var(--color-primary-500);
        background-color: var(--color-gray-800);
        box-shadow: 0 4px 6px rgba(70, 70, 70, 0.6);
      }
    }
  }
}

/*______________ Meetup List ______________*/
.meetup-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*______________ Meetup Detail ______________*/
.meetup-detail {
  text-align: center;
  margin-top: 5rem;

  & img {
    width: 100%;
    border-radius: 1px 30px;
    box-shadow: 0 15px 18px rgba(12, 12, 12, 0.9);
    margin-bottom: 1.1rem;
  }

  & h1 {
    color: var(--color-primary-400);
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  & address {
    color: var(--color-gray-500);
  }

  & p {
    color: var(--color-gray-100);
    margin-top: 1.7rem;
    font-size: 1.2rem;
  }
}

/*______________ New Meetup Form ______________*/
.newMeetup-form {
  margin-top: 5rem;
  padding: 1.3rem 1.7rem;

  & .control {
    margin-bottom: 0.5rem;

    & label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.3rem;
      padding-left: 0.5rem;
      color: var(--color-primary-500);
      letter-spacing: 1px;
      word-spacing: 3px;
    }

    & input {
      margin-bottom: 1.3rem;
    }

    & input,
    & textarea {
      display: block;
      font: inherit;
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 0.35rem 0.5rem;
      width: 100%;
      resize: none;
    }
  }

  .actions {
    margin-top: 1rem;
    text-align: right;

    & button {
      font: inherit;
      cursor: pointer;
      background-color: var(--color-gray-700);
      color: white;
      padding: 0.5rem 1.5rem;
      border: 1px solid #dddbd8;
      border-radius: 3px 20px;
      font-weight: bold;
      margin-top: 1rem;
      transition: all 0.2s ease-in;

      &:hover,
      &:active {
        background-color: var(--color-gray-800);
        border-color: var(--color-primary-400);
      }
    }
  }
}

/*______________ Card ______________*/
.card {
  background-color: var(--color-gray-800);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(99, 99, 99, 0.2);
  margin-bottom: 1.5rem;
}
